name: Reusable Build

on:
  workflow_call:
    inputs:
      ref:
        description: 'Git ref to build from'
        required: false
        type: string
        default: ''
      artifact_suffix:
        description: 'Suffix to add to the artifact name'
        required: false
        type: string
        default: ''

jobs:
  build:
    name: Build ${{ matrix.build_target }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_target:
          - chromium
          - firefox
          - web
          - safari
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies
        run: npm ci

      - name: Build ${{ matrix.build_target }}
        run: npm run build:${{ matrix.build_target }}
        env:
          GIPHY_API_KEY: ${{ secrets.GIPHY_API_KEY }}
          UNSPLASH_API_KEY: ${{ secrets.UNSPLASH_API_KEY }}
          NASA_API_KEY: ${{ secrets.NASA_API_KEY }}
          TRELLO_API_KEY: ${{ secrets.TRELLO_API_KEY }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tabliss-${{ matrix.build_target }}${{ inputs.artifact_suffix }}
          path: dist/${{ matrix.build_target }}

  build_docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ inputs.ref }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: npm
          cache-dependency-path: docs/package-lock.json
      - name: Install dependencies
        run: npm ci
        working-directory: docs

      - name: Build
        run: npm run build
        working-directory: docs

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tabliss-docs${{ inputs.artifact_suffix }}
          path: docs/build
